body{
    margin: 0;
    padding: 0;
    background-color:rgb(92, 172, 179);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2{
    color: rgb(218, 9, 9);
    text-align: center;
}

label{
    font-weight:bold ;
}

#rounded{
    border-radius: 15px;
}

div{
    margin: 50px;
    padding: 15px 15px 8px 8px;
    background-color: #3270c6;
    border: 5px solid black ;
}
